/*    Vars    */
:root {
  --color-pirmary: #5ece7b;
  --color-text: #1d1f22;
  --color-disabled: #8d8f9a;
}
* {
  font-family: "Raleway";
  color: var(--color-text);
}
body {
  margin: 0;
  background: #fff;
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*copy out*/
/*    Modal    */
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background: rgba(57, 55, 72, 0.22);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .modal-content {
  background-color: #fff;
  width: 300px;
  max-height: 500px;
  overflow: auto;
  padding: 10px;
}
.modal .modal-content span.close-btn {
  display: block;
  text-align: right;
  margin-bottom: 8px;
}
.modal .modal-content span.close-btn svg {
  height: 20px;
  width: 20px;
  transform: rotateZ(45deg);
  cursor: pointer;
}
.modal .modal-content .product-attributes {
  margin-bottom: 40px;
}
.modal .modal-content .product-attribute {
  margin-bottom: 20px;
}
.modal .modal-content .product-attribute .attribute-title {
  display: block;
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.modal .modal-content .product-attribute .attribute-title.warrning-blinking {
  color: red;
  animation: infinite 0.6s linear blinking;
}
@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.modal .modal-content .product-attribute.text-attribute .attribute-items {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.modal .modal-content .product-attribute.swatch-attribute .attribute-items {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.modal .modal-content .product-attribute .attribute-items .attribute-item {
  cursor: pointer;
  font-family: "Source Sans Pro";
  border: 1px solid var(--color-text);
  box-sizing: border-box;
  width: 63px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05em;
  transition: all 0.3s ease;
}
.modal
  .modal-content
  .product-attribute.swatch-attribute
  .attribute-items
  .attribute-item {
  width: 40px;
}
.modal
  .modal-content
  .product-attribute.text-attribute
  .attribute-items
  .attribute-item.selected {
  background-color: var(--color-text);
  color: #fff;
}
.modal
  .modal-content
  .product-attribute.swatch-attribute
  .attribute-items
  .attribute-item.selected {
  border-radius: 50%;
}
.modal .modal-content button.add-to-cart {
  cursor: pointer;
  align-items: center;
  padding: 16px 32px;
  width: 100%;
  background: var(--color-pirmary);
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: #fff;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
.modal .modal-content button.add-to-cart:hover {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
/*copy out*/

/*    Navbar.jsx    */
header {
  position: relative;
  background: #fff;
  z-index: 2;
}
header nav.navbar .container {
  display: flex;
  align-items: center;
  height: 80px;
  min-width: 50px;
  white-space: nowrap;
  flex-wrap: nowrap;
}
header nav.navbar ul.categories,
header nav.navbar .nav-actions {
  flex-basis: 50%;
}
/* FIX IT ? */
header nav.navbar ul.categories li.placeholder {
  display: flex;
  padding-right: 16px;
  padding-left: 16px;
  align-items: center;
}
header nav.navbar ul.categories li.placeholder::after {
  content: "";
  display: block;
  width: 50px;
  height: 5px;
  border-radius: 3px;
  animation: placeholder-color 1s ease infinite;
}
@keyframes placeholder-color {
  0% {
    background-color: #f2f2f2;
  }
  50% {
    background-color: #cacaca;
  }
  100% {
    background-color: #f2f2f2;
  }
}
/* FIX IT ? */
/* for lower screen width , add MediaQuery */
header nav.navbar ul.categories {
  list-style-type: none;
  margin: unset;
  height: 100%;
  padding: unset;
  display: flex;
  margin-left: 100px;
}
header nav.navbar .nav-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 100px;
}
header nav.navbar .nav-actions .mini-cart-button,
header nav.navbar .nav-actions .change-currency-button {
  cursor: pointer;
}
header nav.navbar .nav-actions > span:not(:last-child) {
  margin-right: 20px;
}
header nav.navbar .nav-actions .change-currency .change-currency-button {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  padding-right: 18px;
}
header nav.navbar .nav-actions .change-currency .change-currency-button::after {
  position: absolute;
  content: "";
  background: url(./images/arrow-down.svg);
  height: 4px;
  width: 8px;
  top: 50%;
  right: 0;
  transform: rotateZ(180deg);
  transition: transform 0.3s ease;
}
header
  nav.navbar
  .nav-actions
  .change-currency
  .dropdown.collapsed
  .change-currency-button::after {
  transform: rotateZ(0deg);
}
header nav.navbar .nav-actions .change-currency .dropdown ul {
  list-style-type: none;
  margin: unset;
  padding-left: unset;
  padding-top: 10px;
  padding-bottom: 10px;
}
header nav.navbar .nav-actions .change-currency .dropdown ul li {
  padding: 10px 30px 10px 20px;
  transition: all 0.2s ease;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
}
header nav.navbar .nav-actions .change-currency .dropdown ul li.active,
header
  nav.navbar
  .nav-actions
  .change-currency
  .dropdown
  ul:hover
  li.active:hover {
  color: #fff;
  background-color: var(--color-pirmary);
}
header nav.navbar .nav-actions .change-currency .dropdown ul:hover li.active {
  color: var(--color-text);
  background-color: #fff;
}
header nav.navbar .nav-actions .change-currency .dropdown ul li:hover {
  color: #fff;
  background-color: var(--color-pirmary);
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: block;
  position: absolute;
  background-color: #fff;
  /* min-width: 160px; */
  /* padding: 12px 16px; */
  z-index: 1;
}
.change-currency .dropdown-content {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}
.dropdown-content.right {
  right: 0;
}
.dropdown.collapsed .dropdown-content {
  display: none;
}
header nav.navbar .nav-actions span.mini-cart-button {
  display: flex;
  justify-self: center;
  cursor: pointer;
}
header nav.navbar .nav-actions span.mini-cart-button .badge {
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  background: var(--color-text);
  color: #fff;
  border-radius: 50%;
  padding: 5px;
  top: -15px;
  right: -15px;
  /*display: inline-block; */
}
/* header nav.navbar .nav-actions span.mini-cart-button .badge:before,
header nav.navbar .nav-actions span.mini-cart-button .badge:after {
  content: "\200B";
  display: inline-block;
  line-height: 0px;
  padding-top: 50%;
  padding-bottom: 50%;
} */
header nav.navbar .nav-actions span.mini-cart-button .badge:before {
  padding-left: 8px;
}
header nav.navbar .nav-actions span.mini-cart-button .badge:after {
  padding-right: 8px;
}
header nav.navbar .nav-actions .mini-cart {
  display: flex;
  justify-self: center;
}
header nav.navbar .nav-actions .mini-cart .dropdown {
  cursor: default;
}
.dropdown-back-drop {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(57, 55, 72, 0.22);
  top: 0;
  left: 0;
  z-index: 1;
}
header nav.navbar .nav-actions .mini-cart .dropdown-content {
  background: #fff;
  top: 49px;
  width: 325px;
  max-height: 540px;
  overflow: auto;
  padding: 8px 16px;
}
header nav.navbar .nav-actions .mini-cart .dropdown-content .header {
  margin-bottom: 25px;
}
header nav.navbar .nav-actions .mini-cart .dropdown-content .header span {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  font-weight: 500;
  color: var(--color-text);
}
header
  nav.navbar
  .nav-actions
  .mini-cart
  .dropdown-content
  .header
  span:first-child {
  font-weight: 700;
}
header
  nav.navbar
  .nav-actions
  .mini-cart
  .dropdown-content
  .mini-cart-items
  .item {
  display: flex;
  margin-bottom: 40px;
}
header
  nav.navbar
  .nav-actions
  .mini-cart
  .dropdown-content
  .mini-cart-items
  .item
  .product-details {
  margin-right: auto;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  white-space: break-spaces;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header
  nav.navbar
  .nav-actions
  .mini-cart
  .dropdown-content
  .mini-cart-items
  .item
  .product-attribute
  .attribute-items {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
header
  nav.navbar
  .nav-actions
  .mini-cart
  .dropdown-content
  .mini-cart-items
  .item
  .product-attribute:not(:last-child) {
  margin-bottom: 10px;
}
header
  nav.navbar
  .nav-actions
  .mini-cart
  .dropdown-content
  .mini-cart-items
  .item
  .product-attribute
  .attribute-items
  .attribute-item {
  font-family: "Source Sans Pro";
  background: rgba(166, 166, 166, 0.2);
  border: 1px solid #a6a6a6;
  color: #a6a6a6;
  box-sizing: border-box;
  width: 38px;
  height: 24px;
  font-weight: 400;
  font-size: 0.8em;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05em;
  transition: all 0.3s ease;
}
header
  nav.navbar
  .nav-actions
  .mini-cart
  .dropdown-content
  .mini-cart-items
  .item
  .product-attribute.swatch-attribute
  .attribute-items
  .attribute-item {
  width: 24px;
}
header
  nav.navbar
  .nav-actions
  .mini-cart
  .dropdown-content
  .mini-cart-items
  .item
  .product-attribute.text-attribute
  .attribute-items
  .attribute-item.selected {
  background-color: #fff;
  border-color: var(--color-text);
  color: var(--color-text);
}
header
  nav.navbar
  .nav-actions
  .mini-cart
  .dropdown-content
  .mini-cart-items
  .item
  .product-attribute.swatch-attribute
  .attribute-items
  .attribute-item.selected {
  border-radius: 50%;
  border-color: var(--color-text);
}

header
  nav.navbar
  .nav-actions
  .mini-cart
  .dropdown-content
  .mini-cart-items
  .item
  .product-title {
  margin-bottom: 5px;
}
header
  nav.navbar
  .nav-actions
  .mini-cart
  .dropdown-content
  .mini-cart-items
  .item
  .product-price {
  font-weight: 600;
}
header
  nav.navbar
  .nav-actions
  .mini-cart
  .dropdown-content
  .mini-cart-items
  .item
  .control-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}
header
  nav.navbar
  .nav-actions
  .mini-cart
  .dropdown-content
  .mini-cart-items
  .item
  .control-buttons
  button {
  width: 24px;
  height: 24px;
  border: 1px solid var(--color-text);
  box-sizing: border-box;
  background: transparent;
}
header
  nav.navbar
  .nav-actions
  .mini-cart
  .dropdown-content
  .mini-cart-items
  .item
  .control-buttons
  button
  svg {
  vertical-align: middle;
}
header
  nav.navbar
  .nav-actions
  .mini-cart
  .dropdown-content
  .mini-cart-items
  .item
  .control-buttons
  button:hover {
  cursor: pointer;
  color: #fff;
  background: var(--color-text);
}
header
  nav.navbar
  .nav-actions
  .mini-cart
  .dropdown-content
  .mini-cart-items
  .item
  .control-buttons
  button:hover
  svg
  path {
  stroke: #fff;
}
header
  nav.navbar
  .nav-actions
  .mini-cart
  .dropdown-content
  .mini-cart-items
  .item
  .product-title
  span {
  display: block;
}
header
  nav.navbar
  .nav-actions
  .mini-cart
  .dropdown-content
  .mini-cart-items
  .item
  img {
  object-fit: cover;
  object-position: center;
  width: 110px;
  height: 140px;
}
header nav.navbar .nav-actions .mini-cart .dropdown-content .total-price {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 160%;
  font-style: normal;
  margin-bottom: 35px;
}
header
  nav.navbar
  .nav-actions
  .mini-cart
  .dropdown-content
  .total-price
  .label {
  font-family: "Roboto";
  font-weight: 600;
}
header
  nav.navbar
  .nav-actions
  .mini-cart
  .dropdown-content
  .total-price
  .price {
  font-family: "Raleway";
  font-weight: 700;
}
header nav.navbar .nav-actions .mini-cart .dropdown-content > .control-buttons {
  display: flex;
  margin-bottom: 12px;
}
header
  nav.navbar
  .nav-actions
  .mini-cart
  .dropdown-content
  > .control-buttons
  * {
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  transition: all 0.3s ease;
}
header
  nav.navbar
  .nav-actions
  .mini-cart
  .dropdown-content
  > .control-buttons
  *:hover {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
header
  nav.navbar
  .nav-actions
  .mini-cart
  .dropdown-content
  > .control-buttons
  a.view-bag {
  background: transparent;
  border: 1px solid var(--color-text);
  color: var(--color-text);
  margin-right: 12px;
  text-decoration: none;
  text-align: center;
}
header
  nav.navbar
  .nav-actions
  .mini-cart
  .dropdown-content
  > .control-buttons
  a.view-bag:hover {
  background: var(--color-text);
  color: #fff;
}
header
  nav.navbar
  .nav-actions
  .mini-cart
  .dropdown-content
  > .control-buttons
  button.check-out {
  background-color: var(--color-pirmary);
  border: none;
  color: #fff;
}
header nav.navbar .nav-actions .mini-cart .dropdown-content .empty-cart {
  font-weight: 600;
  text-align: center;
  margin: 10px auto;
}
/*
  since i didn't know that the link should be the hole <li> or just the text i do it this way so it contains all the <li> block.
  if we only needed <a> to be clickable (not hole block) this part would be diferent, instead of giving padding and flex prop to "a" here...
  we could've giving it to "li" and for the green underline we could use ::before or ::after with position absolute (note that li should have pos relative),
  */
header nav.navbar ul.categories li a {
  max-height: 80px;
  height: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  color: #000;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
}
header nav.navbar ul.categories li:hover a,
header nav.navbar ul.categories li.active a {
  font-weight: 600;
  color: var(--color-pirmary);
  border-bottom: 2px solid var(--color-pirmary);
}
/*    Products    */
main {
  margin: 80px 100px;
}
main h2.title {
  margin-bottom: 100px;
  text-transform: lowercase;
  font-size: 42px;
  font-weight: 400;
}
main h2.title:first-letter {
  text-transform: capitalize;
}
.products-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 100px 50px;
  justify-content: space-evenly;
}
@media (max-width: 1450px) {
  .products-container {
    grid-template-columns: auto auto;
  }
}
.products-container .product {
  width: 350px;
  padding: 16px;
  background-color: #fff;
  position: relative;
  transition: all 0.3s ease;
}
.products-container .product:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}
.products-container .product.out-of-stock * {
  color: var(--color-disabled) !important;
}
.products-container .product a {
  text-decoration: unset;
}
.products-container .product .add-to-cart-btn {
  background-color: var(--color-pirmary);
  border: none;
  border-radius: 50%;
  padding: 16px;
  display: flex;
  position: absolute;
  top: 330px;
  right: 30px;
  transition: all 0.3s ease;
  transform: scale(0);
  visibility: hidden;
  z-index: 1;
}
.products-container .product:hover .add-to-cart-btn {
  transform: scale(1);
  visibility: visible;
}
.products-container .product:hover .add-to-cart-btn:hover {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.products-container .product .add-to-cart-btn svg {
  width: 24px;
  height: 24px;
}
.products-container .product .add-to-cart-btn svg path {
  fill: #fff;
}
.products-container .product .product-img {
  width: 100%;
  height: 340px;
  margin-bottom: 25px;
  position: relative;
}
.products-container .product .product-img img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.products-container .product.out-of-stock .product-img .out-of-stock-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(256, 256, 256, 0.5);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
}
.products-container .product .product-details {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  color: var(--color-text);
}
.products-container .product .product-details .product-price {
  font-weight: 600;
  /* in the Design its 500 but 600 is more like it, idk why! it's the same font.*/
}
/*    Product    */
.product-container {
  display: grid;
  grid-template-columns: 700px 300px;
  gap: 100px 70px;
  justify-content: center;
}
@media (max-width: 1110px) {
  .product-container {
    grid-template-columns: 500px 300px;
  }
}
.product-container .product-gallery {
  display: flex;
}
.product-container .product-gallery .thumbnails {
  margin-right: 40px;
  /* IDK if it's ok to do this or not, long description won't look good  with this design
    Also for showing scroll bar we need to change sizing because its covering the thumbnails :X
  */
  /* overflow-y: auto;
  max-height: 300px; */
}
.product-container .product-gallery .thumbnails .thumbnail {
  width: 80px;
  height: 80px;
  background: #fff;
  transition: all 0.3s ease;
}
.product-container .product-gallery .thumbnails .thumbnail:hover {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.product-container .product-gallery .thumbnails .thumbnail:not(:last-child) {
  margin-bottom: 40px;
}
.product-container .product-gallery .thumbnails .thumbnail img,
.product-container .product-img img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.product-container .product-img {
  width: 100%;
  height: 500px;
  background: #fff;
}
.product-container .product-content .product-brand {
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  display: block;
  margin-bottom: 15px;
}
.product-container .product-content .product-name {
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  display: block;
  margin-bottom: 40px;
}
.product-container .product-attributes {
  margin-bottom: 40px;
}
.product-container .product-attribute {
  margin-bottom: 20px;
}
.product-container .product-attribute .attribute-title {
  display: block;
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.product-container .product-attribute .attribute-title.warrning-blinking {
  color: red;
  animation: infinite 0.6s linear blinking;
}
@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.product-container .product-attribute.text-attribute .attribute-items {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.product-container .product-attribute.swatch-attribute .attribute-items {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.product-container .product-attribute .attribute-items .attribute-item {
  cursor: pointer;
  font-family: "Source Sans Pro";
  border: 1px solid var(--color-text);
  box-sizing: border-box;
  width: 63px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05em;
  transition: all 0.3s ease;
}
.product-container
  .product-attribute.swatch-attribute
  .attribute-items
  .attribute-item {
  width: 40px;
}
.product-container
  .product-attribute.text-attribute
  .attribute-items
  .attribute-item.selected {
  background-color: var(--color-text);
  color: #fff;
}
.product-container
  .product-attribute.swatch-attribute
  .attribute-items
  .attribute-item.selected {
  border-radius: 50%;
}
.product-container .product-price {
  margin-bottom: 25px;
}
.product-container .product-price .title {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  display: block;
  margin-bottom: 15px;
}
.product-container .product-price .amount {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
}
.product-container .add-to-cart {
  cursor: pointer;
  align-items: center;
  padding: 16px 32px;
  width: 100%;
  background: var(--color-pirmary);
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: #fff;
  box-sizing: border-box;
  margin-bottom: 40px;
  transition: all 0.3s ease;
}
.product-container .add-to-cart:hover {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.product-container .out-of-stock {
  align-items: center;
  padding: 16px 32px;
  width: 100%;
  background: var(--color-text);
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: #fff;
  box-sizing: border-box;
  margin-bottom: 40px;
}
.product-container p.errors {
  text-align: center;
  margin-top: unset;
  margin-bottom: 40px;
  color: red;
  font-weight: 800;
}
/*.product-container .product-description {
  IDK if it's ok to do this or not, long description won't look good  with this design
  overflow-y: auto;
  max-height: 300px;
}*/
.product-container .product-description * {
  font-family: "Roboto";
}
.product-container .product-description {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
}
/*    My BAG    */
main .cart {
  max-width: 1200px;
}
main .cart .header {
  margin-bottom: 60px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: var(--color-text);
}
main .cart .header span:first-child {
  font-weight: 700;
}
main .cart .cart-items .item {
  display: flex;
  padding: 20px 0px;
  border-top: 1px solid #e5e5e5;
}
main .cart .cart-items .item:last-child {
  margin-bottom: 40px;
}
main .cart .cart-items .item .product-details {
  margin-right: auto;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  white-space: break-spaces;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main .cart .cart-items .item .product-attribute .attribute-items {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
main .cart .cart-items .item .product-attribute:not(:last-child) {
  margin-bottom: 10px;
}
main
  .cart
  .cart-items
  .item
  .product-attribute
  .attribute-items
  .attribute-item {
  font-family: "Source Sans Pro";
  background: rgba(166, 166, 166, 0.2);
  border: 1px solid #a6a6a6;
  color: #a6a6a6;
  box-sizing: border-box;
  width: 63px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05em;
  transition: all 0.3s ease;
}
main
  .cart
  .cart-items
  .item
  .product-attribute.swatch-attribute
  .attribute-items
  .attribute-item {
  width: 40px;
}
main
  .cart
  .cart-items
  .item
  .product-attribute.text-attribute
  .attribute-items
  .attribute-item.selected {
  color: #fff;
  background: var(--color-text);
}
main
  .cart
  .cart-items
  .item
  .product-attribute.swatch-attribute
  .attribute-items
  .attribute-item.selected {
  border-radius: 50%;
  border-color: var(--color-text);
}

main .cart .cart-items .item .product-title span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 10px;
}
main .cart .cart-items .item .product-title span:first-child {
  font-weight: 600;
}
main .cart .cart-items .item .product-title span:last-child {
  font-weight: 400;
}
main .cart .cart-items .item .product-price {
  display: block;
  margin-top: 25px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
  margin-bottom: 25px;
}
main .cart .cart-items .item > .control-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
}
main .cart .cart-items .item > .control-buttons button {
  width: 45px;
  height: 45px;
  border: 1px solid var(--color-text);
  box-sizing: border-box;
  background: transparent;
}
main .cart .cart-items .item > .control-buttons button svg {
  vertical-align: middle;
  height: 15px;
  width: 15px;
}
main .cart .cart-items .item > .control-buttons button:hover {
  cursor: pointer;
  color: #fff;
  background: var(--color-text);
}
main .cart .cart-items .item > .control-buttons button:hover svg path {
  stroke: #fff;
}
main .cart .cart-items .item .product-title span {
  display: block;
}
main .cart .cart-items .item .gallery {
  width: 140px;
  height: 185px;
  position: relative;
}
main .cart .cart-items .item .gallery img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
main .cart .cart-items .item .gallery .control-buttons {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .cart .cart-items .item .gallery .control-buttons .prev {
  margin-left: 10px;
  cursor: pointer;
}
main .cart .cart-items .item .gallery .control-buttons .next {
  margin-right: 10px;
  cursor: pointer;
  transform: rotateZ(180deg);
}
main .cart .total-price {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  line-height: 160%;
  font-style: normal;
  margin-bottom: 35px;
}
main .cart .total-price .label {
  font-family: "Roboto";
  font-weight: 600;
}
main .cart .total-price .price {
  font-family: "Raleway";
  font-weight: 700;
}
main .cart > .control-buttons {
  display: flex;
  margin-bottom: 12px;
}
main .cart .empty-cart {
  font-weight: 600;
  text-align: center;
  margin: 10px auto;
}
